@font-face {
	font-family: 'Golos bold'; 
	src: url(../../res/fonts/golos-text_bold.ttf);
}

#main_logo {
    position: fixed;
    width: 10%;
    height 10%;
    top: 30px;
    left: 30px;
}

.main_text {
	position: absolute;
    font-family: 'Golos bold';
}

#main_headline {/* WebPRND */
	
	position: absolute;
	width: 649px;
	height: 155px;
	top: 220px;
	left: 170px;

	font-style: Bold;
	font-weight: 900;
	font-size: 128px;
	line-height: 155px;

	color: #FFFFFF;}

#main_par {/* Реализация CoolPRND как веб-приложения с помощью Flask. */

	position: absolute;
	width: 623px;
	height: 174px;
	top: 390px;
	left: 192px;

	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 58px;
	
	color: #BBBBBB;}

.lines {
    position: absolute;
	width: 500px;
	height: 280px;
	pointer-events: none;
}

#line_up {
	top: 180px;
	left: 850px;
}

#line_low {
	transform: scale(1, -1);
	top: 453px;
	left: 850px;
}

#faq_button {
    position: absolute;

    width: 160px;
	height: 40px;
    top: 870px;
	left: 880px;

    font-family: 'Golos bold';
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;

    background-color: rgba(255, 0, 0, 0);
    border: none;
}

#faq_arrow {
	position: absolute;

    width: 50px;
	height: 25px;
    top: 910px;
	left: 935px;

	pointer-events: none;
}
