<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WebPRND</title>
    <link rel="stylesheet" href="main_page.css" type="text/css">
    <link rel="shortcut icon" href="../../res/main_page/main_logo.svg" type="image/svg">
    <style>
      html {
          background: url('../../res/main_page/main_background.svg') no-repeat center center fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
      }
  </style>
  </head>
  <body>
    <div class="content">
      <div>
        <img
            id="main_logo"
            src="../../res/main_page/main_logo.svg"
            >
      </div>
      <div>
        <h1 class="main_text" id="main_headline">WebPRND</h1>
        <p class="main_text" id="main_par">Реализация CoolPRND как веб-приложения с помощью Flask.</p>
      </div>
      <div>
        <img
            class="lines"
            id="line_up"
            src="../../res/main_page/line_main_page.svg"
            width="500"
            height="280"
            >
        <img
            class="lines"
            id="line_low"
            src="../../res/main_page/line_main_page.svg"
            width="500"
            height="280"
            >
      </div>
      <div onclick="location.href='https://github.com/zatrit/webprnd';" class="buttons">
        <button id="faq_button">
          Описание
        </button>
        <img
            id="faq_arrow"
            src="../../res/main_page/arrow.svg"
            width="100"
            height="50"
            >
      </div>
    </div>
  </body>
</html>