.blur {
    z-index: -998;
    background: black;
    opacity: 0.7;
}

.reg-window {
    margin: 15vh auto;
    width: 30vw;
    height: auto;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    background: var(--bs-body-bg);
}

.reg-content {
    padding: 1vh 1vw 1vh 1vw;
}

.reg-waves {
    border-radius: 20px;
    opacity: 0.5;
    background-image: url("/static/img/waves_bottom.svg");
    background-repeat: repeat-x;
    height: 10vh;
}

@media screen and (max-width: 992px) {
    .reg-window {
        margin: 10vh auto;
        width: auto;
    }
}