/* Логотип отображается только если страница имеет достаточно места */

#logo {
	display: block;
    opacity: 0;
    transition: opacity 0.5s;
	position: fixed;
	width: 15vh;
	height: 6vh;
	top: 4vh;
	left: 4vh;
}

@media screen and (min-width: 768px) {
	#logo {
        opacity: 1;
	}
}

#title {
	font-weight: 700;
	color: var(--bs-gray-100);
}

#desc {
	font-weight: 400;
	color: var(--bs-gray-200);
}

#line-bottom {
	transform: scale(1, -1);
	margin-top: 3vh;
}

/* https://stackoverflow.com/a/16548601/12245612 */
#background {
	z-index: -999;
	min-height: 100%;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	filter: blur(1.4vh);
}

.line {
	width: 44.5vh;
	height: 44.5vh;
}