.icons {
    width: 25vh;
}

@media screen and (max-width: 992px) {
    #contacts {
        display: flex;
        flex-direction: column;
    }

    .icons {
        width: 20vw;
    }
}

.items {
    display: flex;
    align-items: center;
    justify-content: center;
}

#middle {
    z-index: -998;
    position: absolute;
    top: 30vh;
    left: 10vw;
    right: 10vw;
}

#about-group {
    z-index: -998;
    position: absolute;
    top: 110vh;
    left: 0px;
    right: 0px;
    min-height: 100vh;
    height: auto;
    background: var(--bs-body-bg);
}

#contacts,
#about-title,
#about-info {
    z-index: -997;
}

#about-info {
    margin: 2vh 3vw 0 3vw;
    left: 3vw;
    right: 3vw;
}

.editor-button {
    max-width: 400px;
    width: 80vw;
    transition: 0.25s;
    opacity: 0.75;
    scale: 1;
}

.editor-button:hover {
    scale: 1.25;
    opacity: 1;
}

#contacts {
    margin: 3vh auto 0 auto;
    min-height: 20vh;
    width: 90vw;
}

#background-bottom-image {
    z-index: -995;
    background-image: url("/static/img/waves_bottom.svg");
    background-repeat: repeat-x;
    height: 20vh;
}