{% extends "base.html" %}

{% block head %}
<!-- Исходный код: web/style/editor.css -->
<link href="{{ static('style/editor.css') }}" rel="stylesheet" crossorigin="anonymous">

<!-- Исходный код: web/script/editor.ts -->
<script src="{{ static('script/editor.js') }}" type="module"></script>
{% endblock %}

{% block content %}
<input type="file" id="file-input" class="hidden" accept=".json, *.*">

<div class="row">
    <div class="col-9">
        <div id="editor-container"></div>
    </div>
    <div class="col-3 bg-dark">
        {{ button("+", "btn-add") }}
        {{ button("-", "btn-delete") }}
        {{ button("Соед.", "btn-connect") }}
        {{ button("Все", "btn-select-all") }}
        <button {{ button_class() }} id="btn-open"
            onclick="document.getElementById('file-input').click()">Открыть</button>
    </div>
</div>
{% endblock %}