{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ static('style/index.css') }}" type="text/css">
{% endblock %}

{% block content %}
<div id="background-image" class="top-0 start-0 w-100 h-100 position-fixed"></div>
<div id="background" class="top-0 start-0 w-100 h-100 position-fixed"></div>

<div id="header">
    <img id="logo" class="user-select-none" src="{{ static('img/logo.svg') }}" alt="logo">
</div>

<div id="middle" class="row">
  <div id="start-title" class="col">
    <h1 class="display-1 title">{{ title }}</h1>
    <p id="main-title" class="display-4 desc">Генератор псевдо-случайных чисел на Flask.</p>
  </div>
  <div class="col items">
    <a href="/editor" target="_blank">
      <img class="user-select-none h-auto editor-button" src="{{ static('img/start_button.svg') }}"/>
    </a>
  </div>
</div>
<div id="about-group" class="">
    <div>
      <h1 id="about-title" class="display-2 title start-0 end-0 text-center mt-5">О проекте</h1>
    </div>
    <div id="about-info" class="row h-auto">
      <div id="initial-idea" class="col">
        <h1 class="title ">Изначальная задумка</h1>
        <p class="desc">
          У меня было желание сделать более удобный генератор псевдо-случайнах чисел, чтобы людям было приятно им пользоваться. Таковым является этот проект.<br><br>
          Для настройки генераторов псевдо-случайных чисел по моей задумке будет использоваться псевдо-визуальное программирование. Проще говоря, построение логики из блоков.<br><br>
          Как и в "классическом" CoolPRND, будет три типа блока: сид, генератор и вывод. Так как генерация случайных чисел - это дорогая для компьютера операция, было решено ввести систему авторизации пользователей.<br><br>
          Придумав такую классную идею, я перешёл к описанию архитектуры проекта. Внизу текста я оставил ссылки, которые я или другой член команды посчитал полезными при работе над данным проектом.
        </p>
      </div>
      <div id="architecture" class="col">
        <h1 class="title">Описание</h1>
        <p>
          Генератор псевдослучайных чисел - это программное обеспечение, которое создает последовательность чисел,
          которые кажутся случайными, но на самом деле они являются заранее определенными.<br><br> Этот генератор может быть
          полезен во многих приложениях, например для шифрования данных или для создания игровых сценариев.<br><br> Однако,
          важно помнить, что псевдослучайные числа могут быть предсказуемыми, если вы знаете математические алгоритмы,
          используемые для их генерации.
          В проекте реализовано API. Некоторые его функции требуют токена авторизации.<br><br>
          Токен авторизации можно получить по ссылке ниже.<br><br>
        </p>
      </div>
    </div>
    <div id="contacts" class="row h-auto d-flex flex-column flex-md-row">
      <div class="col items">
        <a href="https://www.youtube.com/watch?v=xm3YgoEiEDc" target="_blank">
        <img class="user-select-none icons h-auto" src="{{ static('img/logo.svg') }}" alt="logo">
        </a>
      </div>
      <div class="col desc items">
        <a class="link" href="https://www.youtube.com/watch?v=KBu-6pLXCoA" target="_blank">Никакие права не защищены!</a>
      </div>
      <div class="col desc items">
        <a class="link" href="/obtain" target="_blank">Получить ключ API</a>
      </div>
      <div id="github" class="col items">
        <a href="https://github.com/zatrit/webprnd/" target="_blank">
        <img id="github-logo" class="icons h-auto" src="{{ static('img/github_logo.svg') }}"/>
        </a>
      </div>
    </div>
    <div id="background-bottom-image" class="bottom-0 start-0 end-0 position-absolute"></div>
</div>
{% endblock %}
