{% extends "base.html" %}

{% block head %}
<!-- Исходный код: web/style/editor.css -->
<link href="{{ static('style/editor.css') }}" rel="stylesheet" crossorigin="anonymous">

<!-- Исходный код: web/script/editor.ts -->
<script src="{{ static('script/editor.js') }}" type="module"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-9">
        <div id="editor-container"></div>
    </div>
    <div class="col-3 bg-dark">
        <button class="btn btn-info" id="btn_add">+</button>
        <button class="btn btn-info" id="btn_delete">-</button>
        <button class="btn btn-info" id="btn_connect">Соед.</button>
        <button class="btn btn-info" id="btn_select_all">Все</button>

        <input type="file" id="fileInput">
    </div>
</div>
{% endblock %}